<div class="row">
	<% @links.each do |link| %>
	<div class="col-sm-6 col-md-3">
		<div class="thumbnail">
			<%= link_to (image_tag link.image.url(:medium), class: 'image'), link %>

		</div>
	</div>
<% end %>
</div>